<ul>
    <li class="image-slider__slide swiper-slide">
        <img src="" alt="" class="image-slider__image">
        <h4 class="image-slider__title">Film name</h4>
        <span class="image-slider__info">Film genre</span>
        <span class="image-slider__info">Year</span>
        <span class="image-slider__info--points">Points</span>
    </li>
</ul>