<div class="modal-footer modal">
    <div class="modal-footer__img-container modal__container">

        <img src="./film/team_4.jpg" alt="destroyers-of-stereotypes-TEAM-4" class="modal-footer__image" />

    </div>

    <div class="modal-footer__info modal-info modal__container">
        <h2 class="modal-footer__info-title modal-info__movie-title">разрушители стереотипов</h2>
        <ul class="modal-footer__info-team modal-info__list">
            <li class="modal-footer__item modal-info__item-title">
                <p class="modal-footer__item-name">Евгений Иванов</p>
                <p class="modal-info__item-text"><a class="modal-footer__item-link"
                        href="https://github.com/IvanovEV92">https://github.com/IvanovEV92</a>
                </p>
            </li>
            <li class="modal-footer__item modal-info__item-title">
                <p class="modal-footer__item-name">Иветта Дашкова</p>
                <p class="modal-info__item-text"><a
                        class="modal-footer__item-link">https://github.com/IvettaDashkova</a></p>
            </li>
            <li class="modal-footer__item modal-info__item-title">
                <p class="modal-footer__item-name">Ирина Проценко</p>
                <p class="modal-info__item-text"><a class="modal-footer__item-link"
                        href="https://github.com/PIrenka">https://github.com/PIrenka</a>
                </p>
            </li>
            <li class="modal-footer__item modal-info__item-title">
                <p class="modal-footer__item-name">Екатерина Замятина</p>
                <p class="modal-info__item-text"><a class="modal-footer__item-link"
                        href="https://github.com/Katerina-Zamiatina">https://github.com/Katerina-Zamiatina</a>

                </p>
            </li>
            <li class="modal-footer__item modal-info__item-title">
                <p class="modal-footer__item-name">Genre</p>
                <p class="modal-info__item-text modal-info__item-text--genres">Action</p>
            </li>
        </ul>
        <h3 class="modal-info__about-title">About</h3>
        <p class="modal-info__about-overview modal-footer__overview">
            Эпический остросюжетный мотив фильма основан на реальных событиях.
            JavaScript начали изучать многие, но до конца дошли не все. Отважная четверка амбициозных студентов GoIT
            решила закончить этап изучения в своем несменном составе. Эти 10-ть незабываемых дней и ночей, останутся на
            долго в их блестящих красных глазах и серцах наполненых кофе. Невзирая на все сложности, которые перед ними
            возникли, они держались до конца.
            В этом фильме Вы увидете многие приемы которым их научили на курсе JS.
        </p>
    </div>

    <button type="button" class="modal__icon-close closeModalBtn"></button>

</div>