<div>
    <ul>
        <li>
            <div><img src="" alt="">
                <p>Женя</p>
                <p></p>
            </div>
        </li>
        <li>
            <div><img src="" alt="">
                <p>Катя</p>
                <p></p>
            </div>
        </li>
        <li>
            <div><img src="" alt="">
                <p>Иветта</p>
                <p></p>
            </div>
        </li>
        <li>
            <div><img src="" alt="">
                <p>Ира</p>
                <p></p>
            </div>
        </li>
    </ul>
</div>