<div>
    <div>

        <img src="" alt="" />

    </div>

    <div>
        <h2>разрушители стереотипов</h2>
        <ul>
            <li>
                <p>Евгений Иванов</p>
                <p>
                    тимлид
                </p>
            </li>
            <li>
                <p>Иветта Дашкова</p>
                <p></p>
            </li>
            <li>
                <p>Ирина Проценко</p>
                <p>модалки</p>
            </li>
            <li>
                <p>Екатерина Замятина</p>
                <p>

                </p>
            </li>
        </ul>
        <h3>About</h3>
        <p>
            Это про команду, про работу каждого и просто про впечатления про курс
        </p>
        <div>
            <button type='button'>Likes</button>
            <button type='button'>Too like</button>
        </div>
    </div>

    <button type="button" class="closeModalBtn">X close</button>
</div>