.basicLightbox--visible .basicLightbox__placeholder .modal-footer {
  @media screen and (max-width: $to-tablet) {
    transform: translate(0%, 10%) scale(1);
  }

  @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
    scale: 0.8;
  }

  @media screen and (min-width: $desktop) {
    transform: translate(0%, 6%);
  }
}

.modal-footer {
  &__img-container {
    @media screen and (max-width: $to-tablet) {
      margin-bottom: 30px;
    }
  }

  &__image {
    width: 100%;
  }
}

.modal-footer {
  &__info-title {
    // color: getColor(modal-accent);
    font-size: 38px;
    line-height: 1.1;
    color: getColor(modal-footer-title);
    text-align: center;
  }

  &__info-team {
    margin-bottom: 20px;
  }
  &__item {
    width: 100%;
    text-align: center;
  }
  &__item-name {
    font-size: 16px;
    color: getColor(modal-text);
    margin-bottom: 2px;
  }
  &__item-link {
    color: getColor(modal-grey_text);
    text-decoration: underline;
  }

  &__item-link:hover,
  &__item-link:focus {
    color: getColor(modal-accent);
  }
  &__overview {
    font-size: 14px;
    color: getColor(footer-text);
  }
}
