// .swiper-container {
//   display: block;
//   width: $mobile;
//   height: 1920px;
//   margin: 20px;

//   @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
//     width: $tablet;
//     margin: 60px 70px 60px 70px;
//   }

//   @media screen and (min-width: $desktop) {
//     width: $desktop;
//     height: 1500px;
//   }
// }
// .swiper-container > ul {
//   // width: 100%;
  
//   @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
//     // margin: 60px 70px 60px 70px;
//   }
// }

// .swiper-wrapper > .swiper-slide {
//   height: 439px;
//   width: 274px;
//   overflow: hidden;
// }

// .swiper-pagination {
//   margin-top: 30px;
// }


.image-container.swiper-container{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  width: 280px;
  height: 1796px;
@media screen and (min-width: 768px) {
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 60px;
  width: 626px;
  height: 1840px;
  }
  @media screen and (min-width: 1024px) {
    padding-left: 71px;
    padding-right: 71px;
    height: 1380px;
    width: 882px;
      }
}
.image-slider.swiper-wrapper {
flex-wrap: wrap;
flex-direction: row !important;
}
.image-slider__slide.swiper-slide{
height: 439px !important;
  width: 280px !important;
  margin-bottom: 10px;
@media screen and (min-width: 768px) {
  width: 293px !important;
  margin: 10px;
    }
@media screen and (min-width: 1024px) {
  width: 274px !important;
  margin: 10px;
    }
}