.footer-page {
  //============================
  //==for fixed footer==========
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  //============================
  /* общие стили для подвала сайта */
  background-color: getColor(footer-background);
  color: getColor(footer-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  @media screen and (min-width: $mobile) {
    font-size: 16px;
    line-height: 19px;
  }

  &__info-area {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px auto;
    text-align: center;

    @media screen and (min-width: $mobile) {
      padding-bottom: 28px;
    }

    @media screen and (min-width: $tablet) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--text {
      margin: 0;

      &:first-child {
        margin-right: 10px;
        @media screen and (max-width: $to-tablet) {
          margin-bottom: 10px;
        }
      }
    }

    &--icon {
      fill: getColor(accent);
      width: 14px;
      height: 13px;
      margin: 0px 10px;
    }

    &--students-link {
      color: getColor(footer-text);
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        color: getColor(accent);
      }
    }
  }
}
